{% include 'header.twig' %}

        <!--================Slider Area =================-->
        <section class="main_slider_area">
            <div id="main_slider" class="rev_slider" data-version="5.3.1.6">
                <ul>
                    <li data-index="rs-1587" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="img/home-slider/slider-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="img/home-slider/slider-1.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>

                        <!-- LAYER NR. 1 -->
                        <div class="slider_text_box">
                            <div class="tp-caption tp-resizeme first_text" 
                            id="slide-1586-layer-1" 
                            data-x="['left','left','left','15','0']" data-hoffset="['0','0','0','0']" 
                            data-y="['top','top','top','top']" data-voffset="['290','290','290','220','130']" 
                            data-fontsize="['55','55','55','40','25']"
                            data-lineheight="['59','59','59','50','35']"
                            data-width="['550','550','550','550','300']"
                            data-height="none"
                            data-whitespace="normal"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                            data-textAlign="['left','left','left','left']">%100 Hijyenik Konaklama </div>
                            
                            <div class="tp-caption tp-resizeme secand_text" 
                                id="slide-1587-layer-2" 
                                data-x="['left','left','left','15','0']" data-hoffset="['0','0','0','0']" 
                                data-y="['top','top','top','top']" data-voffset="['435','435','435','340','225']"  
                                data-fontsize="['18','18','18','18','16']"
                                data-lineheight="['26','26','26','26']"
                                data-width="['550','550','550','550','300']"
                                data-height="none"
                                data-whitespace="normal"
                                data-type="text" 
                                data-responsive_offset="on"
                                data-transform_idle="o:1;"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                                Otelimiz sağlık bakanlığının yayınlamış olduğu genelge ve kurallara %100 uyumludur.
                            </div>
                            
                            <div class="tp-caption tp-resizeme slider_button" 
                                id="slide-1588-layer-3" 
                                data-x="['left','left','left','15','0']" data-hoffset="['0','0','0','0']" 
                                data-y="['top','top','top','top']" data-voffset="['525','525','525','425','330']" 
                                data-fontsize="['14','14','14','14']"
                                data-lineheight="['46','46','46','46']"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-type="text" 
                                data-responsive_offset="on" 
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                                <a class="slider_btn" href="hakkimizda">Hakkımızda</a>
                            </div>
                        </div>
                    </li>
                    <li data-index="rs-1588" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="img/home-slider/slider-2.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="img/home-slider/slider-2.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="slider_text_box">
                            <div class="tp-caption tp-resizeme first_text" 
                            id="slide-1589-layer-1" 
                            data-x="['left','left','left','15','0']" data-hoffset="['0','0','0','0']" 
                            data-y="['top','top','top','top']" data-voffset="['290','290','290','220','130']" 
                            data-fontsize="['55','55','55','40','25']"
                            data-lineheight="['59','59','59','50','35']"
                            data-width="['630','630','630','630']"
                            data-height="none"
                            data-whitespace="normal"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                            data-textAlign="['left','left','left','left']"> Havuzlu Balayı Suitleri</div>
                            
                            <div class="tp-caption tp-resizeme secand_text" 
                                id="slide-1590-layer-2" 
                                data-x="['left','left','left','15','0']" data-hoffset="['0','0','0','0']" 
                                data-y="['top','top','top','top']" data-voffset="['435','435','435','340','225']"  
                                data-fontsize="['18','18','18','18','16']"
                                data-lineheight="['26','26','26','26']"
                                data-width="['560','560','560','550','300']"
                                data-height="none"
                                data-whitespace="normal"
                                data-type="text" 
                                data-responsive_offset="on"
                                data-transform_idle="o:1;"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">Havuzlu balayı suitlerimiz ile siz değerli müşterilerimize unutlmaz bir deneyim yaşatıyoruz.
                            </div>
                            
                            <div class="tp-caption tp-resizeme slider_button" 
                                id="slide-1591-layer-3" 
                                data-x="['left','left','left','15','0']" data-hoffset="['0','0','0','0']" 
                                data-y="['top','top','top','top']" data-voffset="['525','525','525','425','330']" 
                                data-fontsize="['14','14','14','14']"
                                data-lineheight="['46','46','46','46']"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-type="text" 
                                data-responsive_offset="on" 
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                                <a class="slider_btn" href="iletisim">Rezervasyon Yap</a>
                            </div>
                        </div>
                    </li>
                    <li data-index="rs-1589" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="img/home-slider/slider-3.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="img/home-slider/slider-3.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                        <!-- LAYER NR. 1 -->
                        <div class="slider_text_box">
                            <div class="tp-caption tp-resizeme first_text" 
                            id="slide-1592-layer-1" 
                            data-x="['left','left','left','15','0']" data-hoffset="['0','0','0','0']" 
                            data-y="['top','top','top','top']" data-voffset="['290','290','290','220','130']" 
                            data-fontsize="['55','55','55','40','25']"
                            data-lineheight="['59','59','59','50','40']"
                            data-width="['700','700','700','700']"
                            data-height="none"
                            data-whitespace="normal"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                            data-textAlign="['left','left','left','left']">Global Konaklama İmkanı </div>
                            
                            <div class="tp-caption tp-resizeme secand_text" 
                                id="slide-1593-layer-2" 
                                data-x="['left','left','left','15','0']" data-hoffset="['0','0','0','0']" 
                                data-y="['top','top','top','top']" data-voffset="['435','435','435','340','225']"  
                                data-fontsize="['18','18','18','18','16']"
                                data-lineheight="['26','26','26','26']"
                                data-width="['560','560','560','550','300']"
                                data-height="none"
                                data-whitespace="normal"
                                data-type="text" 
                                data-responsive_offset="on"
                                data-transform_idle="o:1;"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">Dünyanın her yerinden müşterilerimize uygun otelimiz ile global standartlarda hizmet sağlamaktayız.
                            </div>
                            
                            <div class="tp-caption tp-resizeme slider_button" 
                                id="slide-1594-layer-3" 
                                data-x="['left','left','left','15','0']" data-hoffset="['0','0','0','0']" 
                                data-y="['top','top','top','top']" data-voffset="['525','525','525','425','350']" 
                                data-fontsize="['14','14','14','14']"
                                data-lineheight="['46','46','46','46']"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-type="text" 
                                data-responsive_offset="on" 
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                                <a class="slider_btn" href="iletisim">Bize Ulaşın</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--================End Slider Area =================-->
        
    
        
        <!--================Introduction Area =================-->
        <section class="introduction_area" style="padding-top: 100px;">
            <div class="container">
                <div class="row introduction_inner">
                    <div class="col-md-7">
                        <div class="introduction_left_text">
                            <div class="intro_title">
                                <h2>Ödüllü <span>Otelcilik</span></h2>
                                <p>Avrupa standartları kalitesinde ödüllü konaklama imkanı sizi bekliyor. </p>
                            </div>
                            <h4>Toplantı odası ve SPA İmkanı</h4>
                            <p>Carissa Otel olarak yüksek standartlarda, %100 misafir memnuniyeti ilkesi ile sizlere hizmet vermekteyiz. Toplam 32 oda 70 yatak kapasitesi ile siz değerli misafirlerimize hizmet veren otelimiz. 10 adet Standart Twin, 6 adet Standart French, 10 adet Deluxe, 4 adet Triple ve 2 adet King Deluxe odalarıyla ve güler yüzlü personeli ile sizlerin hizmetinizdedir.</p>
                            <a class="about_btn_b" href="hakkimizda">Hakkımızda</a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="introduction_img">
                            <img src="img/introduction-img.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Introduction Area =================-->
        
        <!--================Our Service Area =================-->
        <section class="our_service_area">
            <div class="container">
                <div class="row our_service_inner">
                    <div class="col-md-3 col-sm-6">
                        <div class="our_service_first">
                            <h3>hizmetlerimiz</h3>
                            <p>Carissa Otel olarak bulunduğumuz bölgede ve faaliyet gösterdiğimiz sektörde %100 misafir memnuniyeti ilkesi ile siz değerli misafirlerimize hizmet vermekteyiz.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="our_service_item">
                            <i class="flaticon-wifi"></i>
                            <h4>Ücretsiz Wifi</h4>
                            <p>Tüm katlarımızda 100mbps limitsiz ve şifresiz internet mevcuttur.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="our_service_item">
                            <i class="flaticon-toaster"></i>
                            <h4>Kahvaltı</h4>
                            <p>Tüm ziyaretçilerimize her sabah açık büfe ücretsiz kahvaltı.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="our_service_item">
                            <i class="flaticon-taxi"></i>
                            <h4>Taksi İmkanı</h4>
                            <p>Otelimizin kendine özel taksi durağı ile 7/24 kolay ulaşım keyfi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Our Service Area =================-->
        
        <!--================Our Resort Gallery Area =================-->
        <section class="our_resort_gallery_area">
            <div class="middle_title">
                <h2>otelimizden <span>görseller</span></h2>
                <p>Otelimizde misafir olduğunuz süre boyunca yararlanabileceğiniz hizmetlerimiz ve Carissa Otel'i diğer otellerden ayıran ayrıcalıklarımız. </p>
            </div>
        </section>
        <div class="resort_gallery_inner imageGallery1">
            <div class="resort_gallery owl-carousel">
                
            {% for file in fileList %}  
                <div class="item">
                    <img src="{{ file["file_url"] }}" alt="">
                    <div class="resort_g_hover">
                        <div class="resort_hover_inner">
                            <a class="light" href="{{ file["file_url"] }}"><i class="fa fa-expand" aria-hidden="true"></i></a> 
                            <h5>{{ file["file_name"] }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}    
            
            </div>
        </div>
        <!--================End Our Resort Gallery Area =================-->
        
        <!--================Client Testimonial Area =================-->
        <section class="client_area">
            <div class="container">
                <div class="clients_slider owl-carousel">
                {% for comment in commentList %}
                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ comment["comment_image"] }}" alt="">
                            </div>
                            <div class="media-body">
                                <p><i>“</i> {{ comment["comment_content"] }} </p>
                                <a href="#"><h4>- {{ comment["comment_name"] }}</h4></a>
                                <h5>Müşteri</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}    

                </div>
            </div>
        </section>
        <!--================End Client Testimonial Area =================-->
        
        <!--================Video Area =================-->
        <section class="video_area">
            <div class="container">
                <div class="video_inner">
                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=48uPk1SA37Y"><i class="flaticon-play-button"></i></a>
                    <h4>Sanal Tur</h4>
                    <h5>Video ile otelimiz gezin</h5>
                </div>
            </div>
        </section>
        <!--================End Video Area =================-->
        
        <!--================Fun Fact Area =================-->
        <section class="fun_fact_area about_fun_fact">
            <div class="container">
                <div class="row">
                    <div class="fun_fact_box row m0">
                        <div class="col-md-3 col-sm-6">
                            <div class="media">
                                <div class="media-left">
                                    <h3 class="counter">712</h3>
                                </div>
                                <div class="media-body">
                                    <h4>Müsait <br /> Oda</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="media">
                                <div class="media-left">
                                    <h3 class="counter">254</h3>
                                </div>
                                <div class="media-body">
                                    <h4>Günlük <br /> Ziyaretçi</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="media">
                                <div class="media-left">
                                    <h3 class="counter">430</h3>
                                </div>
                                <div class="media-body">
                                    <h4>Toplam <br /> Çalışan</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="media">
                                <div class="media-left">
                                    <h3 class="counter">782</h3>
                                </div>
                                <div class="media-body">
                                    <h4>Suit <br /> Oda</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--================End Fun Fact Area =================-->

{% include 'footer.twig' %}